body {
    color: #000;
}

.buttons {
    padding: 5px;
}
.btn-lg {
    font-size: 1.6em;
    padding: 25px;
}

.btn.tiki {
    font-size: 1.6em;
    padding: 25px;
    background-color: #00B7F1;
    color: white;
}

.content {
    margin: 50px auto;
}

.cover-col {
    text-margin: right;
}

.cover-img {
    display: block;
    width: 75%;
    padding: 50px;
    margin: 0px auto;
}

.cover-img img {
    width: 100%;
}

.novel-title {
    font-size: 4.8em;
    font-family: 'Itim', cursive;
    margin-top: 0px;
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
    margin-bottom: 25px;
    background: url("../images/tittle2.jpg");
    background-size: 100%;
    text-indent: -9999;
    width: 480px;
    height: 321px;
}

.novel-title span {
    background-color: #8A1B14;
    color: white;
    margin: 0px 15px;
    line-height: 1.4em;
}

.novel-title span strong {
    font-weight: 800;
    font-size: 1.6em;
    color: #000;
}

.logline {
    font-size: 1.6em;
    padding: 15px 0px;
}

.logline span {
    margin: 0px 30px;
    color: black;
}

/*tesimotonal */
.testmi {
    background-color: #8A1B14;
    color: #FFF;
    font-size: 1.6em;
    padding: 50px;
}

.testmi h2 {
    font-size: 3.2em;
    margin-bottom: 50px;
    color: black;
    font-family: 'Itim', cursive;
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
}

.testmi h2 span {
    background-color: #FFF;
    margin-left: 50px;
}

.testmi ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.testmi ul li {
    margin-bottom: 30px;
    padding: 0px 15px;
}

.testmi ul li .statement span {
    background-color: black;
    color: white;
}

.testmi ul li .person span {
    background-color: white;
    color: black;
}

.testmi .bilbo .statement, .testmi .bro .statement {
    font-size: 2em;
}

/* autho */
.author {
    font-size: 1.6em;
    padding: 50px;
}

.author h2 {
    font-size: 3.2em;
    margin-bottom: 50px;
    font-family: 'Itim', cursive;
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
}

.author h2 span {
    color: black;
    margin-left: 50px;
}

.author .description span {
    background-color: white;
    color: #000;
    margin: 0px 25px;
    line-height: 1.5em;
}

.author .description span.name {
    background-color: black;
    color: white;
    font-size: 1.4em;
}
.author img {
    border: 10px solid #8A1B14;
}
.author .fact strong {
    background-color: #8A1B14;
    color: white;
}
/* footer */
.footer {
    font-size: 1.6em;
    padding: 100px 0px 30 0px;
}

.footer .phoenix {
    text-align: right;
}

.footer .phoenix img {
    width: 100px;
}

/* trial */
.trial {
}
.trial-title {
    font-family: 'Itim', cursive;
    padding-left: 45px;
    margin-bottom: 35px;
}
.trial-title span {
    color: #8A1B14;
    font-size: 3.2em;
}

.trial-content {
    font-size: 1.4em;
    padding: 15px;
}

.trial-menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 1.2em;
}

.trial a {
    color: #8A1B14;
}

.trial-backhome {
    font-size: 1.2em;
}

.trial {
    padding: 30px 0px;
}

/* Fallback styles */
.book {
  display: inline-block;
  box-shadow: 5px 5px 20px #333;
  margin: 10px;
}

.book img { vertical-align: middle; }

/*
 *  In order for this to work, you must use Modernizer
 *  to detect 3D transform browser support. This will add
 *  a "csstransforms3d" class to the HTML element.
 *
 *  Visit http://modernizr.com/ for installation instructions
 */

.csstransforms3d  .books {
  -moz-perspective: 100px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.csstransforms3d  .book {
  position: relative;
  -moz-perspective: 100px;
  -moz-transform: rotateY(-3deg);
  -webkit-transform: perspective(100) rotateY(-3deg);
  outline: 1px solid transparent; /* Helps smooth jagged edges in Firefox */
  box-shadow: none;
  margin: 0;
}

.csstransforms3d  .book img {
  position: relative;
  max-width: 100%;
}

.csstransforms3d  .book:before,
.csstransforms3d  .book:after {
  position: absolute;
  top: 2%;
  height: 96%;
  content: ' ';
  z-index: -1;
}

.csstransforms3d  .book:before {
  width: 100%;
  left: 7.5%;
  background-color: #E20000;
  box-shadow: 5px 5px 20px #CCC;
}

.csstransforms3d  .book:after {
  width: 5%;
  left: 100%;
  background-color: #EFEFEF;
  box-shadow: inset 0px 0px 5px #aaa;
  -moz-transform: rotateY(20deg);
  -webkit-transform: perspective(100) rotateY(20deg);
}
